* {
  box-sizing: border-box;
}

h1 {
  width: fit-content;
  margin: auto;
}

.table {
  margin: 40px auto 0 auto;
  width: 800px;
  text-align: center;
}

.table tr td {
  background-color: #ccc;
}

@media (max-width: 850px) {
  .table {
    width: 100%;
  }
}
