* {
  box-sizing: border-box;
}

h1 {
  width: fit-content;
  margin: auto;
}

.table {
  margin: 40px auto 0 auto;
  width: 800px;
  text-align: center;
}

.table tr td {
  background-color: #ccc;
}

.text-area {
  margin: auto;
  width: fit-content;
}

.text-area .max input {
  width: 350px;
}

textarea {
  width: 600px;
  height: 400px;
  margin: 100px auto 0 auto;
}

button {
  font-size: 1.4em;
  width: 120px;
  height: 60px;
  display: block;
  margin: auto;
}

@media (max-width: 850px) {
  .table {
    width: 100%;
  }
}
